/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.nav{
    background-color: #e74c25;
}
.navItem{
    color: white;
}
.logoName{
    font-family: 'Libre Baskerville', serif;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.leftNavbar{
    float: inline-end;
}
.footerColor{
    background: #d9d9d9;
}
.card-img-top{
    width: 286px;
    height: 300px;
    object-fit: contain;
}
.icon-color{
    color: #e74c25;
}
.button-color{
    background-color: #e74c25;
}
.bienvenido{
   position: absolute;
   right: 300px;
   top: 50px;
    color :white;

}

